<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopGiay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopGiay.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index">
                    Shop Giày
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end align-items-center">
                    <div class="d-flex align-items-center">
                        <!-- Added parent container -->
                        @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                        {
                            <div class="input-group">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control small-textbox no-border", placeholder = "Enter search item..." })
                                <button type="submit" class="btn btn-link">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        }
@*                         <form asp-controller="Product" asp-action="Screach" method="get">
                            <input type="text" name="searchString" placeholder="Tìm kiếm sản phẩm..." />
                            <button type="submit">Tìm kiếm</button>
                        </form> *@

                        <ul class="navbar-nav ms-3">
                            <!-- Added margin -->
                            <li class="nav-item">
                                @await Component.InvokeAsync("CartSummary")
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center">
                        <!-- Added parent container -->
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="header-bottom">
        <div class="wrap">
            <ul class="menu">
                <li><a href="/">Trang chủ</a></li>
                <li class="dropdown">
                    <a href="#" class="color2">Thể loại Giày</a>
                    <div class="input-group dropdown-content">
                        <a href="#" class="btn btn-link searchLink" data-search-string="Giày Chạy Bộ">Giày Chạy Bộ</a>
                        <a href="#" class="btn btn-link searchLink" data-search-string="Giày Thời Trang">Giày Thời Trang</a>
                    </div>
                </li>

                <script>
                    // Bắt sự kiện click trên các thẻ a có class 'searchLink'
                    document.querySelectorAll('.searchLink').forEach(function (link) {
                        link.addEventListener('click', function (event) {
                            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ a (chuyển hướng)
                            var searchString = this.getAttribute('data-search-string'); // Lấy chuỗi tìm kiếm từ thuộc tính data
                            // Chuyển hướng đến trang tìm kiếm với tham số truy vấn searchString
                            window.location.href = '/Product/SearchCategory?SearchString=' + encodeURIComponent(searchString);
                        });
                    });
                </script>

@*                 <li class="dropdown">
                    <a href="#" class="color12">Thương hiệu</a>
                    <div class="dropdown-content">
                        <a href="/Home/SPTheoThuongHieu/1">Nike</a>
                        <a href="/Home/SPTheoThuongHieu/2">Vans</a>
                        <!-- Các thương hiệu khác -->
                    </div>
                </li> *@
                <li><a href="/Home/TinTuc" class="color11">Tin tức</a></li>
                <li><a href="/Home/GioiThieu" class="color10">Giới thiệu</a></li>
                <li><a href="/User/Themmoiykien" class="color7">Liên hệ</a></li>
            </ul>
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ShopGiay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


