@model ShopGiay.Models.CartModel

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Giỏ hàng @Model.TotalQuantity @Model.TotalPrice</a>
</li> 