@model ShopGiay.Models.CartModel


    <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
        <i class="fa fa-shopping-cart" style="font-size:24px; margin-right: 5px;"></i>
        <sup class="total-quantity">@Model.TotalQuantity</sup>
        <span class="total-price">[@Model.TotalPrice]</span>
    </a>

<style>
    .total-quantity {
        font-size: 12px;
        vertical-align: super;
        margin-left: -5px;
    }
</style>