@model ShopGiay.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h4>Tạo thể loại mới</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên thể loại:</label>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên thể loại" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tạo</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>
