@model ShopGiay.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<h2>Thêm sản phẩm</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên sản phẩm:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginPrice" class="control-label">Đơn giá nhập hàng:</label>
                <input asp-for="OriginPrice" class="form-control" />
                <span asp-validation-for="OriginPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Đơn giá bán:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionId" class="control-label">khuyen mai:</label>
                <select asp-for="PromotionId" class="form-control" asp-items="ViewBag.Promotion">
                    <option value="">-- Chọn mức giảm giá  --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Ảnh:</label>
                <input type="file" id="imageInput" asp-for="ImageUrl" class="form-control-file" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <br />
                <img id="previewImage" src="#" alt="Preview" style="max-width: 200px; max-height: 200px; display: none;" />
            </div>
            <script>
                document.getElementById('imageInput').onchange = function (evt) {
                    var preview = document.getElementById('previewImage');
                    var file = evt.target.files[0];
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        preview.src = event.target.result;
                        preview.style.display = 'block';
                    };

                    reader.readAsDataURL(file);
                };
            </script>

            <div class="form-group">
                <label asp-for="Images" class="control-label">Ảnh:</label>
                <input type="file" id="imageInputPD" name="imageUrls" class="form-control-file" multiple />
                <span asp-validation-for="Images" class="text-danger"></span>
                <br />
                <div id="previewImagesPD" class="image-preview-container">
                    <!-- Container to display preview images -->
                </div>
            </div>
            <script>
                document.getElementById('imageInputPD').onchange = function (evt) {
                    var previewContainer = document.getElementById('previewImagesPD');
                    previewContainer.innerHTML = ''; // Clear previous preview images

                    Array.from(evt.target.files).forEach(function (file) {
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            var img = document.createElement('img');
                            img.src = event.target.result;
                            img.style.maxWidth = '200px';
                            img.style.maxHeight = '200px';
                            img.style.marginRight = '10px';
                            previewContainer.appendChild(img);
                        };

                        reader.readAsDataURL(file);
                    });
                };
            </script>


            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Thể loại:</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">-- Chọn Thể Loại --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductColorId" class="control-label">Màu Giày:</label>
                <select asp-for="ProductColorId" class="form-control" asp-items="ViewBag.Color">
                    <option value="">-- Chọn Màu Giày --</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Hãng:</label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brand">
                    <option value="">-- Chọn Hãng --</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label">Nhà Cung Cấp:</label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Supplier">
                    <option value="">-- Chọn Nhà Cung Cấp --</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Size">Kích cỡ và Số lượng giày theo size:</label>
                <div id="size-quantity-container" class="d-flex flex-wrap">
                    @foreach (var size in ViewBag.Size)
                    {
                        <div class="form-group mr-2 mb-2">
                            <label >Size: @size.Size</label>
                            <input type="hidden" name="sizeIds" value="@size.Id" />
                            <input type="number" name="quantities" class="form-control quantity-input" placeholder="Nhập số lượng" value=0 required min="0" />
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tạo</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>


<style>
    .image-preview-container {
        max-height: 300px; /* Giới hạn chiều cao của khung bảng */
        overflow: auto; /* Tạo thanh cuộn khi nội dung vượt quá khung */
        max-width: 680px;
    }

    .quantity-input {
        max-width: 150px; /* Set a smaller width for quantity input fields */
    }
</style>